// import scss files

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


// COLORS
$primary-color : #ff3a6e;
$secondary-color: rgb(9, 39, 85);
$base-font-color: #b0bde3;
$white : #ccc;
$black: rgb(1, 13, 31);

// FONTS
$base-font: 'Quicksand', sans-serif;
$special-font: 'Space Grotesk', sans-serif;

// FONT SIZES
$size-0: 128px;
$size-1:80px;
$size-2: 49px; 
$size-3: 30px;
$size-4: 19px;
$size-5: 11px;

// RADIUS
$radius-0: 363px;
$radius-1: 225px;
$radius-2: 140px;
$radius-3: 87px;
$radius-4: 54px;
$radius-5: 33px;
$radius-6: 20px;
$radius-7: 12px;
$radius-8: 8px;
$radius-9: 5px;

// SHADOWS


// PADDINGS

//MARGINS
$margin-1: 6em;
$margin-2: 5em;
$margin-2: 2em;
$margin-3: 1em;

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transitionAll{
    transition: var(--pointer) var(--duration) ease-in-out;
}
  

.container{
    margin: 0 5em;

    @media screen and (max-width: 768px) {
        margin: 2em;
    }
}

.btn-primary{
    background-color: $primary-color;
    line-height: 2em;
    padding: 15px 25px;
    border-radius: $radius-4;
    font-weight: 400
}

.addIndex{
    z-index: -1;
}

@import './home';
