// NAV
nav{
    padding: 0 $padding-3;
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding: 0.1em;
    }
}

.menu-wrapper{
    width: 100%;
    justify-content: space-between;
    height: 100%;
    @include flexRow;

    .brand-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        z-index: 11 !important;
        .typo-brand{
            font-family: $base-font;
            font-weight: 700;
            font-size: $size-4;
            color: $base-font-color;
            letter-spacing: -1px;
            transform: scaleY(1.2);
            span{
                text-transform: capitalize;
                color: $primary-color;
            }
    
            @media screen and (max-width: 768px) {
                padding: 0 1em;
            }
        }
    
    }
    
    // hamburger icon
    .hamburger-menu-wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 11;
        .lines{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-width: 100px;
            div{
                position: absolute;
                width: 100%;
                height: 100%;
                @include flexColumn;
                justify-content: center;
                align-items: flex-end;
                cursor: pointer;
                span{
                    margin: 0.2em 0;
                    display: inline-block;
                    width: 55px;
                    height: 3px;
                    background-color: $white;
                }
            }
    
            @media screen and (max-width: 768px) {
                padding: 0 1em;
            }
        }
    
    }
}

// hamburger menus
.menu-links-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: rgb(9, 39, 85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate();
    z-index: 10;
    padding: 80px $padding-3 0 $padding-3;
    transform: translate3d(100%,0,0);
    transition: all 0.5s ease-in-out 0.5s;

    div.ml-container{

        .menu-links{
            
            width: 50%;
            padding-top: $padding-4;
            .menu-link{
                font-size: $size-1;
                font-family: $base-font;
                font-weight: 700;
                text-transform: uppercase;
                display: flex;
                overflow: hidden;

                a{
                    position: relative;
                    display: inline-block;
                    color: $base-font-color;
                    overflow: visible;
                    width: 100%;

                    &:hover{
                        div{
            
                            &:nth-child(1) span{
                                transform: translate3d(0, -100%, 0) rotateX(-90deg);
                            }
            
                            &:nth-child(2) span{
                                transform: translate3d(0, 0%, 0) rotateX(0deg);
                            }
            
            
                        }
                    }
                
                    div{
                        @include divsProperties;
            
                        &:nth-child(1) span{
                            @include notCloneProperties;
                        }
            
                        &:nth-child(2) span{
                            overflow: visible;
                            @include cloneProperties;
                            color: $primary-color;     
                        }
                    }

                    .menu-clone{
                        position: absolute;
                        left: 0;
                        top: 0; 
                    }
            
                }
                
                @media screen and (max-width: 768px) {
                    font-size: $size-3;
                }
            }
    
            @media screen and (max-width: 768px) {
                margin-left: 2em;
            }
        }
    }

    .extras{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        .lang-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .lang-btn{
                a{
                    font-family: $base-font;
                    font-weight: 700;
                    font-size: $size-4;
                    color: $base-font-color;
                    transition: color 0.1s ease-in-out;
                    &:hover{
                        color: $primary-color;
                        transition: color 0.1s ease-in-out;
                    }
                }
    
                .default-lang{
                    color: $primary-color !important;
                }
    
            }
            span{
                background-color: $base-font-color;
                width: 3px;
                height: 25px;
                margin: 0 1em;
            }
            @media screen and (max-width: 768px) {
                left: 2em;
            }
        }
        .social-media-menu{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            
    
            @media screen and (max-width: 768px) {
                right: 2em;
            }
        }
    }
    
}

.close-menu{
    transform: translate3d(100%,0,0);
    transition: all 0.5s ease-in-out;
}

.show-menu{
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out 0.5s;
}


// HOME SECTION
.home-section{
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    .home-container{
        min-height: inherit;
    }
}

.banner-texts-wrapper{

    justify-content: center;
    padding-top: $padding-5;
    min-height: inherit;
    @include flexColumn;
    font-family: $base-font;
    font-weight: 700;
    // padding-top: 3rem;
    
    // .hi-texts{
    //     font-size: $size-3;
    //     overflow: hidden;
    //     z-index: -1;

    //     span{

    //         @media screen and (max-width: 480) {
    //             font-size: $size-3;
    //         }

    //         display: inline-block;
    //         &:first-child{
    //             color: $primary-color;
    //         }
    //         &:last-child{
    //             color: $white;
    //         }

    //         @media screen and (max-width: 480px) {
    //             font-size: $size-3;
    //         }
    //     }
    // }
    .job-texts-wrapper{
        color: $base-font-color;
        .texts-lines{
            overflow: hidden;
            display: flex;
            // lines texts animations
            p{

                font-size: 8em;
                width: 100%;
                font-weight: 700;
                @media screen and (min-width: 1281px) {
                    font-size: 11em;
                }
        
                // @media screen and (max-width: 768px) {
                //     font-size: $size-2;
                //     max-height: 120px;
                // }

                // @media screen and (max-width: 480px) {
                //     font-size: $size-4;
                // }

                position: relative;
                max-height: 560px;
                overflow: hidden;
                &::after, &::before{
                    color: $base-font-color;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transprent;
                    overflow: hidden;
                    top: 0;
                }
    
                &::before{
                    left: 2px;
                    text-shadow: -2px 0 $primary-color;
                    animation-name: glitch-animation-1;
                    animation-duration: 3s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
        
                &::after{
                    left: -2px;
                    text-shadow: -2px 0 $white;
                    animation-name: glitch-animation-2;
                    animation-duration: 3s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;        
                }
    
            }

            // first line div
            &:nth-of-type(1){
                display: flex;
                justify-content: flex-start;
                p{

                    &::before, &::after{
                        display: flex;
                        justify-content: flex-start;
                        content: 'FULL STACK';
                    }
                }
            }
            
            //second line div
            &:nth-of-type(2){
                display: flex;
                justify-content: flex-start;
                p{

                    &::before, &::after{
                        display: flex;
                        justify-content: flex-start;
                        content: 'WEB DEVELOPER';
                    }
                }
            }

        }

        .end-text{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .spinner-text-wrapper{
                position: relative;
                width: 70px;
                height: 70px;

                .spinner-text {
                    font-size: $size-5;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    animation: spinner-animation 5s linear infinite;
                    span{
                        left: 50%;
                        opacity: .5;
                        position: absolute;
                        transform-origin: 0 35px;
                    }
                }
            }
            .brief-wrapper{
                p{
                    font-size: $size-3;
                    text-transform: uppercase;
                    opacity: .5;
                }
            }
        }

        
    }
}

.closeBarLeft{
    transform: rotate(45deg);
}
.closeBarRight{
    transform: rotate(-45deg);
}

.closeBarLeft,.closeBarRight{
    transform-origin: center;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

@keyframes glitch-animation-1 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i * calc(1 / $steps))} {
        clip: rect(random(((300))) + px, 1280px, random(300) + px, 0px);
      }
    }
  }
  
  @keyframes glitch-animation-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i * calc(1 / $steps))} {
        clip: rect(random(300) + px, 1280px, random(300) + px, 0px);
      }
    }
  }
  

  @keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }