@import './style/setting';


.social-media-wrapper{
    position: fixed;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    .sm{
        display: block;
        // padding: 0.5em;
        // margin: 0.5rem 0;
        width: 100%;
        a{
            display: inline-block;
            width: fit-content;
            padding: 0.5em;
            transform: translateY(0);
            --pointer: transform;
            --duration: .2s;
            @include transitionAll;
            &:hover{
                --pointer: transform;
                --duration: .2s;
                transform: translateY(-5px);
                @include transitionAll;
                svg{
                    fill: $primary-color;
                }
            }
        }
        svg{
            transform: scale(1);
        }
    }
}

.scroll-down-wrapper{
    position: fixed;
    bottom: 5%;
    left: 1%;
    @include flexColumn;
    span{
        display: inline-block;
        transform: rotate(90deg);
        text-transform: capitalize;
    }
}

