@import './style/setting';

.social-media-wrapper{
    position: fixed;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    .sm{
        display: block;
        // padding: 0.5em;
        // margin: 0.5rem 0;
        width: 100%;
        a{
            display: inline-block;
            width: fit-content;
            padding: 0.5em;
        }
        svg{
            transform: scale(1);
        }
    }
}

.resume-wrapper{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    .guideline{
        display: flex;
        flex-direction: column;
    }
}

